@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  --primary: #fffffe;
  --background: #004643;
  --tertiary: #e16162;
  --button: #f9bc60;
  --stroke: #001e1d;
  --paragraph: #abd1c6;
}

body {
  background: var(--background);
  font-family: "Montserrat", serif;
  font-size: 28px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30%;
  min-height: 200px;
  border: 2px solid var(--stroke);
  border-radius: 15px;
}

h2 {
  color: var(--primary);
  text-align: center;
  background: var(--tertiary);
}

input {
  border: none;
  border-bottom: 1px solid var(--stroke);
  background: none;
  font-size: 24px;
  margin: 0 50px;
  color: var(--paragraph);
}
input::placeholder {
  color: var(--paragraph);
}

.add {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.todos {
  list-style: none;
  color: var(--primary);
}

.delete {
  border: none;
  width: 25px;
  height: 25px;
  background: var(--tertiary);
  border-radius: 10px;
  font-size: 16px;
}

.todo-text {
  display: inline;
  margin: 0 20px;
}
