* {
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 200px;
  height: 150px;
  transform-origin: 0 0;
  transition: transform 0.8s;
  border: 2px solid green;
}
.enlarge {
  transform: scale(1.2);
}
.focussed {
  border: 5px solid aliceblue;
}
