.out {
  background: #000;
  height: 202px;
  display: flex;
}

.board {
  margin: 20px;
  border: 1px solid white;
}

.row {
  display: flex;
}

.row:nth-child(odd) .box:nth-child(odd) {
  background: #000;
}
.row:nth-child(odd) .box:nth-child(even) {
  background: #fff;
}
.row:nth-child(even) .box:nth-child(even) {
  background: #000;
}
.row:nth-child(even) .box:nth-child(odd) {
  background: #fff;
}

.box {
  width: 20px;
  height: 20px;
}
