* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  background-color: #888;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.outer {
  /* justify-content: center; */
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
}
