.container {
  width: 500px;
  height: 400px;
  overflow-y: auto;
  border: 2px solid green;
}
.head {
  text-align: center;
}
.food {
  width: 90%;
  height: fit-content;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  background: rgb(52, 153, 167);
}
