.out {
  background: #000;
  height: 202px;
  display: flex;
}

.board {
  width: 162px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}

.box {
  width: 20px;
  height: 20px;
}
